@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --accent1: #FF6347;
  --accent2: #333;
  --accent3: #f8f4eb;
  --accent4: #003B6F

  --text-font: 12px "Poppins";
  --title-font: 2em "Lobster";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--accent1);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

h1 {
  font: var(--title-font);
  color: #003B6F;
  font-weight: bold;
}

#current-player {
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 500px;
  height: auto;
  background-color: var(--accent3);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--accent2);
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.square:nth-child(even) {
  background-color: white;
}

.square:nth-child(odd) {
  background-color: whitesmoke;
}

.square {
  height: 55px;
  width: 55px;
  border: 3px solid var(--accent2);
  border-radius: 50%;
}

.x {
  display: none;
}

.player-one {
  background-color: tomato !important;
  border: 3px solid var(--accent2);
  border-radius: 50%;
}

.player-two {
  background-color: royalblue !important;
  border: 3px solid var(--accent2);
  border-radius: 50%;
}

.reset-button {
  margin-top: 20px;
  width: 70px;
  height: 30px;
  align-self: center;
  background-color: var(--accent2);
  color: var(--accent3);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
