@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --accent1: #f89e9d;
  --accent2: #6490d2;
  --accent3: #f8f4eb;

  --text-font: 12px "Poppins";
  --title-font: 2em "Lobster";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--accent1);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 500px;
  height: 650px;
  background-color: var(--accent3);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.grid {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid div {
  height: 70px;
  width: 70px;
  border: 1px black solid;
}

.player-one {
  background-color: red;
  border-radius: 50%;
}

.player-two {
  background-color: blue;
  border-radius: 50%;
}
